language: c
dist: trusty
addons:
  apt:
    sources:
      - sourceline: 'deb https://dl.yarnpkg.com/debian/ stable main'
        key_url: 'https://dl.yarnpkg.com/debian/pubkey.gpg'
      - sourceline: 'deb https://deb.nodesource.com/node_8.x trusty main'
        key_url: 'https://deb.nodesource.com/gpgkey/nodesource.gpg.key'
    packages:
      - nodejs
      - yarn
      - build-essential
env:
  global:
    - GOV=1.9.2
    - GOSHA="de874549d9a8d8d8062be05808509c09a88a248e77ec14eb77453530829ac02b  go${GOV}.linux-amd64.tar.gz"
    - GOPATH="${HOME}/go"
    - GOROOT="${HOME}/${GOV}/go"
    - PATH="${GOROOT}/bin:${PATH}:${GOPATH}/bin"
    - SRCROOT="${GOPATH}/src/github.com/mattermost"
    - GOARM=7
  matrix:
    - V=4.6.0-rc5
before_install:
  - install -d "${GOPATH}" "${GOROOT}" "${SRCROOT}/mattermost-"{server,webapp}
  - wget -q "https://storage.googleapis.com/golang/go${GOV}.linux-amd64.tar.gz"
  - sha256sum --check <<< "${GOSHA}"
  - tar -C "${HOME}/${GOV}" -xzf "go${GOV}.linux-amd64.tar.gz"
  - ulimit -n 8096
  - wget -q "https://github.com/mattermost/mattermost-server/archive/v${V}.tar.gz" -O mattermost-server.tar.gz
  - tar -C "${SRCROOT}/mattermost-server" --strip-components=1 -xf mattermost-server.tar.gz
  - wget -q "https://github.com/mattermost/mattermost-webapp/archive/v${V}.tar.gz" -O mattermost-webapp.tar.gz
  - tar -C "${SRCROOT}/mattermost-webapp" --strip-components=1 -xf mattermost-webapp.tar.gz
script:
  - make build -C "${SRCROOT}/mattermost-webapp"
  - patch -d "${SRCROOT}/mattermost-server" -p1 < "${TRAVIS_BUILD_DIR}/make.patch"
  - go get -d "${SRCROOT}/mattermost-server/..."
  - make config-reset build-linux package-linux -C "${SRCROOT}/mattermost-server" GO="GOARCH=arm $(which go)" BUILD_NUMBER="dev-arm-tag${V}"
  - mv "${SRCROOT}/mattermost-server/dist/mattermost-team-linux-arm.tar.gz" "${TRAVIS_BUILD_DIR}/mattermost-${V}-arm.tar.gz"
  - sha512sum "${TRAVIS_BUILD_DIR}/mattermost-${V}-arm.tar.gz" | tee "${TRAVIS_BUILD_DIR}/mattermost-${V}-arm.tar.gz.sha512sum"
deploy:
  provider: releases
  api_key: "${GITHUB_OAUTH_TOKEN}"
  file:
    - "${TRAVIS_BUILD_DIR}/mattermost-${V}-arm.tar.gz"
    - "${TRAVIS_BUILD_DIR}/mattermost-${V}-arm.tar.gz.sha512sum"
  skip_cleanup: true
