language: c
dist: trusty
addons:
  apt:
    sources:
      - sourceline: 'deb https://dl.yarnpkg.com/debian/ stable main'
        key_url: 'https://dl.yarnpkg.com/debian/pubkey.gpg'
      - sourceline: 'deb https://deb.nodesource.com/node_8.x trusty main'
        key_url: 'https://deb.nodesource.com/gpgkey/nodesource.gpg.key'
    packages:
      - nodejs
      - yarn
      - build-essential
env:
  global:
    - GOV=1.9
    - GOPATH=$HOME/go
    - GOROOT=$HOME/$GOV/go
    - PATH=$GOROOT/bin:$PATH:$GOPATH/bin
  matrix:
    - V=4.4.2-rc1
before_install:
  - install -d $GOPATH $GOROOT
  - wget https://storage.googleapis.com/golang/go$GOV.linux-amd64.tar.gz
  - tar -C $HOME/$GOV -xzf go$GOV.linux-amd64.tar.gz
  - node --version
  - yarn versions
  - go version
  - ulimit -n 8096
  - install -d ~/go/src/github.com/mattermost
  - cd ~/go/src/github.com/mattermost
  - wget "https://github.com/mattermost/mattermost-server/archive/v${V}.tar.gz"
  - tar xf "v${V}.tar.gz"
  - mv "mattermost-server-${V}" mattermost-server
  - rm "v${V}.tar.gz"
  - wget "https://github.com/mattermost/mattermost-webapp/archive/v${V}.tar.gz"
  - tar xf "v${V}.tar.gz"
  - mv "mattermost-webapp-${V}" mattermost-webapp
  - rm "v${V}.tar.gz"
script:
  - make build -C ~/go/src/github.com/mattermost/mattermost-webapp
  - cd ~/go/src/github.com/mattermost/mattermost-server
  - patch -p1 < $TRAVIS_BUILD_DIR/make.patch
  - go get -d ./...
  - make build-linux package BUILD_NUMBER="dev-arm-tag${V}"
  - mv -v ~/go/src/github.com/mattermost/mattermost-server/dist/mattermost-*-linux-arm.tar.gz $TRAVIS_BUILD_DIR/mattermost-$V-arm.tar.gz
  - sha512sum $TRAVIS_BUILD_DIR/mattermost-$V-arm.tar.gz | tee $TRAVIS_BUILD_DIR/mattermost-$V-arm.tar.gz.sha512sum
deploy:
  provider: releases
  api_key: "${GITHUB_OAUTH_TOKEN}"
  file:
    - "$TRAVIS_BUILD_DIR/mattermost-$V-arm.tar.gz"
    - "$TRAVIS_BUILD_DIR/mattermost-$V-arm.tar.gz.sha512sum"
  skip_cleanup: true
